nav {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input__container {
  display: flex;
}

.search__input__container input {
  border: 1px solid black;
}

.search__btn {
  padding: 1rem;
  background-color: black;
  color: white;
}
