nav {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input__container {
  display: flex;
  width: min(50vw, 40rem);
  margin-inline: auto;
}

.search__input__container input {
  border: 1px solid black;
  padding-inline: 1rem;
  width: 100%;
}

.search__btn {
  padding: 1rem;
  background-color: black;
  color: white;
}
